* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: #eaeaea;
}

body {
	background-color: #1d1d1d;
}

input {
	background-color: #585858;
	border-radius: 5px;
	text-align: center;
}
